*:focus {
  outline: 1px solid #42bdff;
}
.react-tel-input-disabled input.form-control:disabled,
.react-tel-input-disabled input[disabled],
.react-tel-input-disabled button.selected-flag {
  background-color: #dfdfdf;
  color: #666666;
}
.react-tel-input-disabled .flag-dropdown:hover {
  cursor: none;
}
.react-tel-input-disabled .flag-dropdown:hover .selected-flag {
  background-color: transparent !important;
}
.react-tel-input {
  position: relative;
  width: 200px;
}
.react-tel-input * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.react-tel-input .hide {
  display: none;
}
.react-tel-input .v-hide {
  visibility: hidden;
}
.react-tel-input input[type="text"],
.react-tel-input input[type="tel"] {
  position: relative;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 54px;
  margin-left: 0;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid rgba(193, 193, 193, 0.6);
  line-height: 25px;
  height: 38px;
  width: 100%;
}
.react-tel-input input[type="text"]:focus,
.react-tel-input input[type="tel"]:focus {
  border-color: #42bdff;
  border-left-color: #cacaca;
}
.react-tel-input input[type="text"].invalid-number,
.react-tel-input input[type="tel"].invalid-number {
  border: 1px solid #d79f9f;
  background-color: #faf0f0;
  border-left-color: #cacaca;
}
.react-tel-input input[type="text"].invalid-number:focus,
.react-tel-input input[type="tel"].invalid-number:focus {
  border: 1px solid #d79f9f;
  border-left-color: #cacaca;
  background-color: #faf0f0;
}
.react-tel-input .flag-dropdown {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0;
  background-color: #eaeaea;
  border: 1px solid #cacaca;
  border-radius: 3px 0 0 3px;
}
.react-tel-input .flag-dropdown.open-dropdown {
  background: #fff;
  border-bottom: 0;
  border-radius: 3px 0 0 0;
}
.react-tel-input .flag-dropdown.open-dropdown .selected-flag {
  background: #fff;
  border-radius: 3px 0 0 0;
}
.react-tel-input .flag-dropdown.open-dropdown .selected-flag .dialCode::after {
  transform: translateY(-50%) rotate(135deg);
}
.react-tel-input .flag-dropdown:hover {
  cursor: pointer;
}
.react-tel-input .flag-dropdown:hover .selected-flag {
  background-color: #fff;
}
.react-tel-input input[disabled] + .flag-dropdown:hover {
  cursor: default;
}
.react-tel-input input[disabled] + .flag-dropdown:hover .selected-flag {
  background-color: transparent;
}
.react-tel-input .selected-flag {
  z-index: 13;
  position: relative;
  width: 50px;
  height: 36px;
  padding: 3px 6px;
  border-radius: 3px 0 0 3px;
  border-width: 0;
  background-color: #fff;
  border-right: 1px solid #cacaca;
}
.react-tel-input .selected-flag .flag {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  width: 16px;
  height: 11px;
}
.react-tel-input .selected-flag .arrow {
  position: relative;
  top: 50%;
  margin-top: -2px;
  left: 20px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}
.react-tel-input .selected-flag .arrow.up {
  border-top: none;
  border-bottom: 4px solid #555;
}
.react-tel-input .selected-flag .dialCode {
  text-align: left;
}
.react-tel-input .selected-flag .dialCode::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-top: 1px solid #cacaca;
  border-right: 1px solid #cacaca;
  top: 50%;
  right: 5px;
  transform: translateY(-50%) rotate(45deg);
}
.react-tel-input .country-list {
  list-style: none;
  position: absolute;
  z-index: 20;
  padding: 0;
  margin: -1px 0 0 -1px;
  background-color: white;
  border: 1px solid #ccc;
  width: 400px;
  max-height: 200px;
  overflow-y: scroll;
  border-radius: 0 0 3px 3px;
  top: 36px;
}
.react-tel-input .country-list .flag {
  display: inline-block;
  margin-right: 6px;
  margin-top: 2px;
  width: 16px;
  height: 11px;
}
.react-tel-input .country-list .divider {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}
.react-tel-input .country-list .country {
  padding: 5px 10px;
  display: flex;
  align-items: center;
}
.react-tel-input .country-list .country .dial-code {
  color: #999;
}
.react-tel-input .country-list .country:hover {
  background-color: #e8f7fe;
}
.react-tel-input .country-list .country.highlight {
  background-color: #c7e2f1;
}
.react-tel-input .country-list .country-name {
  margin-right: 6px;
}
